<div fxLayout="row wrap" fxLayout.lt-md="column">

  <h3 class="mat-h3" fxFlexFill>{{ 'Details' | translate }}</h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'Product' | translate }}</span>
    <span fxFlex="60%">{{ fixedDepositAccountData.productId |
      find:fixedDepositsAccountTemplate.productOptions:'id':'name' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'Submitted On' | translate }}</span>
    <span fxFlex="60%">{{ fixedDepositAccountData.submittedOnDate | date }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'Field Officer' | translate }}</span>
    <span fxFlex="60%">{{ (fixedDepositAccountData.fieldOfficerId |
      find:fixedDepositsAccountProductTemplate.fieldOfficerOptions:'id':'displayName') || 'Unassigned' }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill>{{ 'Currency' | translate }}</h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'Currency' | translate }}</span>
    <span fxFlex="60%">{{ fixedDepositsAccountProductTemplate.currency.code }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'Currency Multiple' | translate }}</span>
    <span fxFlex="60%">{{ fixedDepositsAccountProductTemplate.currency.inMultiplesOf }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'Decimal Places' | translate }}</span>
    <span fxFlex="60%">{{ fixedDepositsAccountProductTemplate.currency.decimalPlaces }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill>{{ 'Terms' | translate }}</h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'Fixed Deposit Amount' | translate }}:</span>
    <span fxFlex="60%">{{ fixedDepositAccountData.depositAmount }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'Deposit Period' | translate }}:</span>
    <span fxFlex="60%">{{ fixedDepositAccountData.depositPeriod + ' ' +
      (fixedDepositAccountData.depositPeriodFrequencyId |
      find:fixedDepositsAccountProductTemplate.periodFrequencyTypeOptions:'id':'value') }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'Interest Compounding Period' | translate }}:</span>
    <span fxFlex="60%">{{ fixedDepositAccountData.interestCompoundingPeriodType |
      find:fixedDepositsAccountProductTemplate.interestCompoundingPeriodTypeOptions:'id':'value' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'Interest Posting Period' | translate }}:</span>
    <span fxFlex="60%">{{ fixedDepositAccountData.interestPostingPeriodType |
      find:fixedDepositsAccountProductTemplate.interestPostingPeriodTypeOptions:'id':'value' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'Interest Calculated using' | translate }}:</span>
    <span fxFlex="60%">{{ fixedDepositAccountData.interestCalculationType |
      find:fixedDepositsAccountProductTemplate.interestCalculationTypeOptions:'id':'value' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'Days in Year' | translate }}:</span>
    <span fxFlex="60%">{{ fixedDepositAccountData.interestCalculationDaysInYearType |
      find:fixedDepositsAccountProductTemplate.interestCalculationDaysInYearTypeOptions:'id':'value' }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill>{{ 'Settings' | translate }}</h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill *ngIf="fixedDepositAccountData.lockinPeriodFrequency">
    <span fxFlex="40%">{{ 'Lock-in Period' | translate }}:</span>
    <span fxFlex="60%">{{ fixedDepositAccountData.lockinPeriodFrequency + ' ' +
      (fixedDepositAccountData.lockinPeriodFrequencyType |
      find:fixedDepositsAccountProductTemplate.lockinPeriodFrequencyTypeOptions:'id':'value') }}</span>
  </div>

  <div fxFlexFill *ngIf="fixedDepositsAccountProductTemplate.minDepositTerm">
    <span fxFlex="40%">{{ 'Minimum Deposit Term' | translate }}:</span>
    <span fxFlex="60%">{{ fixedDepositsAccountProductTemplate.minDepositTerm + ' ' +
      (fixedDepositsAccountProductTemplate.minDepositTermType?.value || '') }}</span>
  </div>

  <div fxFlexFill *ngIf="fixedDepositsAccountProductTemplate.inMultiplesOfDepositTerm">
    <span fxFlex="40%">{{ 'In Multiples Of' | translate }}:</span>
    <span fxFlex="60%">{{ fixedDepositsAccountProductTemplate.inMultiplesOfDepositTerm + ' ' +
      (fixedDepositsAccountProductTemplate.inMultiplesOfDepositTermType?.value || '') }}</span>
  </div>

  <div fxFlexFill *ngIf="fixedDepositsAccountProductTemplate.maxDepositTerm">
    <span fxFlex="40%">{{ 'Maximum Deposit Term' | translate }}</span>
    <span fxFlex="60%">{{ fixedDepositsAccountProductTemplate.maxDepositTerm + ' ' +
      (fixedDepositsAccountProductTemplate.maxDepositTermType?.value || '') }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'Transfer Interest to Savings Account' | translate }}?</span>
    <span fxFlex="60%">{{ fixedDepositAccountData.transferInterestToSavings ? 'Yes' : 'No' }}</span>
  </div>

  <div fxFlexFill *ngIf="fixedDepositAccountData.transferInterestToSavings">
    <span fxFlex="40%">{{ 'Linked Savings Account' | translate }}</span>
    <span fxFlex="60%">{{ fixedDepositAccountData.linkAccountId |
      find:fixedDepositsAccountProductTemplate.savingsAccounts:'id':'accountNo' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'Apply Penal Interest (less)' | translate }}:</span>
    <span fxFlex="60%">{{ fixedDepositsAccountProductTemplate.preClosurePenalApplicable ? 'Yes' : 'No' }}</span>
  </div>

  <div fxFlexFill *ngIf="fixedDepositsAccountProductTemplate.preClosurePenalApplicable">
    <span fxFlex="40%">{{ 'Penal Interest' | translate }} (%):</span>
    <span fxFlex="60%">{{ fixedDepositsAccountProductTemplate.preClosurePenalInterest + '% (' +
      (fixedDepositsAccountProductTemplate.preClosurePenalInterestOnType?.id) + ')' }}</span>
  </div>

  <div fxFlexFill *ngIf="fixedDepositsAccountProductTemplate.withHoldTax">
    <span fxFlex="40%">{{ 'Withhold Tax is Applicable' | translate }}:</span>
    <span fxFlex="60%">{{ fixedDepositAccountData.withHoldTax ? 'Yes' : 'No' }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill>{{ 'Interest Rate Chart' | translate }}</h3>

  <mat-divider fxFlexFill></mat-divider>

  <div class="margin-b" fxFlexFill fxLayout="column">

    <div fxFlexFill *ngIf="fixedDepositsAccountProductTemplate?.accountChart.name">
      <span fxFlex="40%">{{ 'Name' | translate }}:</span>
      <span fxFlex="60%">{{ fixedDepositsAccountProductTemplate?.accountChart.name }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="40%">{{ 'Valid from Date' | translate }}:</span>
      <span fxFlex="60%">{{ fixedDepositsAccountProductTemplate?.accountChart.fromDate | date }}</span>
    </div>

    <div fxFlexFill *ngIf="fixedDepositsAccountProductTemplate?.accountChart.endDate">
      <span fxFlex="40%">{{ 'End Date' | translate }}:</span>
      <span fxFlex="60%">{{ fixedDepositsAccountProductTemplate?.accountChart.endDate | date }}</span>
    </div>

    <div fxFlexFill *ngIf="fixedDepositsAccountProductTemplate?.accountChart.description">
      <span fxFlex="40%">{{ 'Description' | translate }}:</span>
      <span fxFlex="60%">{{ fixedDepositsAccountProductTemplate?.accountChart.description }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="40%">{{ 'Primary Grouping by Amount' | translate }}:</span>
      <span fxFlex="60%">{{ fixedDepositsAccountProductTemplate?.accountChart.isPrimaryGroupingByAmount ? 'Yes' : 'No'
        }}</span>
    </div>

    <table class="mat-elevation-z1 irc-table" mat-table [dataSource]="interestRateChartData" multiTemplateDataRows>

      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef> {{ 'Period' | translate }} </th>
        <td mat-cell *matCellDef="let chartSlab">
          {{chartSlab.fromPeriod}}-{{chartSlab.toPeriod}}&nbsp;{{chartSlab.periodType.value}}</td>
      </ng-container>

      <ng-container matColumnDef="amountRange">
        <th mat-header-cell *matHeaderCellDef> {{ 'Amount Range' | translate }} </th>
        <td mat-cell *matCellDef="let chartSlab">{{chartSlab.amountRangeFrom}}-{{chartSlab.amountRangeTo}}</td>
      </ng-container>

      <ng-container matColumnDef="interest">
        <th mat-header-cell *matHeaderCellDef> {{ 'Interest' | translate }} </th>
        <td mat-cell *matCellDef="let chartSlab"> {{ chartSlab.annualInterestRate }} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> {{ 'Description' | translate }} </th>
        <td mat-cell *matCellDef="let chartSlab"> {{ chartSlab.description }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{ 'Actions' | translate }} </th>
        <td mat-cell *matCellDef="let chartSlab; let chartSlabIndex = dataIndex">
          <button mat-button color="primary"
            (click)="expandChartSlabIndex = expandChartSlabIndex === chartSlabIndex ? null : chartSlabIndex">
            <span *ngIf="expandChartSlabIndex !== chartSlabIndex">
              <fa-icon icon="eye"></fa-icon>&nbsp;&nbsp;
              {{ 'View Incentives' | translate }}
            </span>
            <span *ngIf="expandChartSlabIndex === chartSlabIndex">
              <fa-icon icon="eye-slash"></fa-icon>&nbsp;&nbsp;
              {{ 'Hide Incentives' | translate }}
            </span>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="incentives">
        <td mat-cell *matCellDef="let chartSlab; let chartSlabIndex = dataIndex"
          [attr.colspan]="chartSlabsDisplayedColumns.length">

          <div fxLayout="row wrap" fxFlexFill class="incentives"
            [@expandChartSlab]="chartSlabIndex === expandChartSlabIndex ? 'expanded' : 'collapsed'">

            <mat-card fxLayout="row wrap" fxFlexFill>

              <h4 class="m-b-10" fxFlex="13%">
                {{ 'Incentives' | translate }}
              </h4>

              <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="chartSlab.incentives"
                *ngIf="chartSlab.incentives.length">

                <ng-container matColumnDef="entityType">
                  <th mat-header-cell *matHeaderCellDef> {{ 'Entity Type' | translate }} </th>
                  <td mat-cell *matCellDef="let incentive">
                    {{ incentive.entityType.value }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="attributeName">
                  <th mat-header-cell *matHeaderCellDef> {{ 'Attribute Name' | translate }} </th>
                  <td mat-cell *matCellDef="let incentive">
                    {{ incentive.attributeName.value }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="conditionType">
                  <th mat-header-cell *matHeaderCellDef> {{ 'Condition Type' | translate }} </th>
                  <td mat-cell *matCellDef="let incentive">
                    {{ incentive.conditionType.value | titlecase }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="attributeValue">
                  <th mat-header-cell *matHeaderCellDef> {{ 'Attribute Value' | translate }} </th>
                  <td mat-cell *matCellDef="let incentive" [ngSwitch]="incentive.attributeName">
                    {{ incentive.attributeValueDesc }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="incentiveType">
                  <th mat-header-cell *matHeaderCellDef> {{ 'Incentive Type' | translate }} </th>
                  <td mat-cell *matCellDef="let incentive">
                    {{ incentive.incentiveType.value }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef> {{ 'Interest' | translate }} </th>
                  <td mat-cell *matCellDef="let incentive">
                    {{ incentive.amount }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="incentivesDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: incentivesDisplayedColumns;"></tr>

              </table>

            </mat-card>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="chartSlabsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: chartSlabsDisplayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: chartSlabsIncentivesDisplayedColumns;" class="incentives-row"></tr>

    </table>

  </div>

  <div fxFlexFill *ngIf="fixedDepositAccountData.charges.length" fxLayout="row wrap" fxLayout.lt-md="column">

    <h3 class="mat-h3" fxFlexFill>{{ 'Charges' | translate }}</h3>

    <mat-divider fxFlexFill></mat-divider>

    <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="fixedDepositAccountData.charges">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{ 'Name' | translate }} </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.name + ', ' + charge.currency.displaySymbol }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chargeCalculationType">
        <th mat-header-cell *matHeaderCellDef> {{ 'Type' | translate }} </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.chargeCalculationType.value }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> {{ 'Amount' | translate }} </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.amount }}
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> {{ 'Date' | translate }} </th>
        <td mat-cell *matCellDef="let charge">
          <span
            *ngIf="charge.chargeTimeType.value === 'Specified due date' || charge.chargeTimeType.value === 'Weekly Fee'">
            {{(charge.dueDate | date) || 'Unassigned'}}
          </span>
          <span *ngIf="charge.chargeTimeType.value === 'Monthly Fee' || charge.chargeTimeType.value === 'Annual Fee'">
            {{charge.feeOnMonthDay ? ([2000].concat(charge.feeOnMonthDay) | date: 'dd MMMM') : 'Unassigned'}}
          </span>
          <span
            *ngIf="!(charge.chargeTimeType.value === 'Monthly Fee' || charge.chargeTimeType.value === 'Annual Fee'
              || charge.chargeTimeType.value === 'Specified due date' || charge.chargeTimeType.value === 'Weekly Fee')">
            {{ 'Not Provided' | translate }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="repaymentsEvery">
        <th mat-header-cell *matHeaderCellDef> {{ 'Repayments Every' | translate }} </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.feeInterval || ( 'Not Provided' | translate ) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chargeTimeType">
        <th mat-header-cell *matHeaderCellDef> {{ 'Collected On' | translate }} </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.chargeTimeType.value }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="chargesDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: chargesDisplayedColumns;"></tr>

    </table>

  </div>

</div>

<div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
  <button mat-raised-button matStepperPrevious>
    <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
    {{ 'Previous' | translate }}
  </button>
  <button mat-raised-button [routerLink]="['../']">
    {{ 'Cancel' | translate }}
  </button>
  <button mat-raised-button color="primary" (click)="submit.emit()">
    {{ 'Submit' | translate }}
  </button>
</div>