.tab-container {
  padding: 1%;
  margin: 1%;

  h3{
    margin:1% auto;
  }
  .summary-container {
    padding: 1em;
  }

  table {
    td {
      min-width: 2em;
    }

    td:hover {
      cursor: pointer;
    }

    .account-name {
      min-width: 4em;
    }

    .last-active {
      min-width: 6.2em;
    }

    .account-balance {
      min-width: 5.5em;
      text-align: center;
    }

    .account-action-button {
      min-width: 3em;
      padding: 0.1em 0;
      margin: 0.5em 0;
      line-height: 2em;
    }

    .select-row:hover {
      cursor: pointer;
    }
  }

}

.heading-content {
  margin-bottom: 1%;
  margin-top: 1%;
}

.heading-name {
  display: block;
}
