<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *mifosxHasPermission="'UPDATE_SAVINGSPRODUCT'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{ 'Edit' | translate }}
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" fxLayout.lt-md="column">

        <h2 class="mat-h2" fxFlexFill>{{ savingProduct.name }}</h2>

        <mat-divider [inset]="true"></mat-divider>

        <h3 class="mat-h3" fxFlexFill>{{ 'Details' | translate }}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{ 'Short Name' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.shortName }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.description">
          <span fxFlex="40%">{{ 'Description' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.description }}</span>
        </div>

        <h3 class="mat-h3" fxFlexFill>{{ 'Currency' | translate }}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{ 'Currency' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.currency.name }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{ 'Decimal Places' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.currency.decimalPlaces }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{ 'Currency in multiples of' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.currency.inMultiplesOf }}</span>
        </div>

        <h3 class="mat-h3" fxFlexFill>{{ 'Terms' | translate }}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{ 'Nominal Annual Interest Rate' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.nominalAnnualInterestRate }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{ 'Interest Compounding Period' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.interestCompoundingPeriodType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{ 'Interest Posting Period' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.interestPostingPeriodType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{ 'Interest Calculated using' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.interestCalculationType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{ 'Days in Year' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.interestCalculationDaysInYearType.value }}</span>
        </div>

        <h3 class="mat-h3" fxFlexFill>{{ 'Settings' | translate }}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill *ngIf="savingProduct.minRequiredOpeningBalance">
          <span fxFlex="40%">{{ 'Minimum Opening Balance' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.minRequiredOpeningBalance }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.lockinPeriodFrequency">
          <span fxFlex="40%">{{ 'Lock-in Period' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.lockinPeriodFrequency + ' ' +
            savingProduct.lockinPeriodFrequencyType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{ 'Apply Withdrawal Fee for Transfers' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.withdrawalFeeForTransfers ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.minBalanceForInterestCalculation">
          <span fxFlex="40%">{{ 'Balance Required for Interest Calculation' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.minBalanceForInterestCalculation }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{ 'Enforce Minimum Balance' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.enforceMinRequiredBalance ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.minRequiredBalance">
          <span fxFlex="40%">{{ 'Minimum Balance' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.minRequiredBalance }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{ 'Withhold Tax is Applicable' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.withHoldTax ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.withHoldTax">
          <span fxFlex="40%">{{ 'Tax Group' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.taxGroup.name }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{ 'Is Overdraft Allowed' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.allowOverdraft ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.minOverdraftForInterestCalculation">
          <span fxFlex="40%">{{ 'Minimum Overdraft Required for Interest Calculation' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.minOverdraftForInterestCalculation }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.nominalAnnualInterestRateOverdraft">
          <span fxFlex="40%">{{ 'Nominal Annual Interest for Overdraft' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.nominalAnnualInterestRateOverdraft }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.overdraftLimit">
          <span fxFlex="40%">{{ 'Maximum Overdraft Amount Limit' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.overdraftLimit }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{ 'Enable Dormancy Tracking' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.isDormancyTrackingActive ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.isDormancyTrackingActive" fxLayout="row wrap" fxLayout.lt-md="column">
          <span fxFlex="40%">{{ 'Number of Days to Inactive sub-status' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.daysToInactive }}</span>
          <span fxFlex="40%">{{ 'Number of Days to Dormant sub-status' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.daysToDormancy }}</span>
          <span fxFlex="40%">{{ 'Number of Days to Escheat' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.daysToEscheat }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.charges.length" fxLayout="row wrap" fxLayout.lt-md="column">

          <h3 class="mat-h3" fxFlexFill>{{ 'Charges' | translate }}</h3>

          <mat-divider [inset]="true"></mat-divider>

          <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="savingProduct.charges">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> {{ 'Name' | translate }} </th>
              <td mat-cell *matCellDef="let charge">
                {{ charge.name + ', ' + charge.currency.displaySymbol }}
              </td>
            </ng-container>

            <ng-container matColumnDef="chargeCalculationType">
              <th mat-header-cell *matHeaderCellDef> {{ 'Type' | translate }} </th>
              <td mat-cell *matCellDef="let charge">
                {{ charge.chargeCalculationType.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> {{ 'Amount' | translate }} </th>
              <td mat-cell *matCellDef="let charge">
                {{ charge.amount }}
              </td>
            </ng-container>

            <ng-container matColumnDef="chargeTimeType">
              <th mat-header-cell *matHeaderCellDef> {{ 'Collected On' | translate }} </th>
              <td mat-cell *matCellDef="let charge">
                {{ charge.chargeTimeType.value }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="chargesDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: chargesDisplayedColumns;"></tr>

          </table>

        </div>

        <h3 class="mat-h3" fxFlexFill>{{ 'Accounting' | translate }}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{ 'Type' | translate }}:</span>
          <span fxFlex="60%">{{ savingProduct.accountingRule.value }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.accountingRule.id === 2" fxLayout="row wrap" fxLayout.lt-md="column">

          <h4 fxFlexFill class="mat-h4">{{ 'DISINI' | translate }}</h4>

          <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">
            <span fxFlex="40%">{{ 'Savings reference' | translate }}:</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.savingsReferenceAccount.name }}</span>
            <span fxFlex="40%">{{ 'Overdraft portfolio' | translate }}:</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.overdraftPortfolioControl.name }}</span>
          </div>

          <h4 fxFlexFill class="mat-h4">{{ 'Liabilities' | translate }}</h4>

          <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">
            <span fxFlex="40%">{{ 'Savings control' | translate }}:</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.savingsControlAccount.name }}</span>
            <span fxFlex="40%">{{ 'Savings transfers in suspense' | translate }}:</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.transfersInSuspenseAccount.name }}</span>
            <div fxFlexFill *ngIf="savingProduct.isDormancyTrackingActive">
              <span fxFlex="40%">{{ 'Escheat liability' | translate }}:</span>
              <span fxFlex="60%">{{ savingProduct.accountingMappings.escheatLiabilityAccount.name }}</span>
            </div>
          </div>

          <h4 fxFlexFill class="mat-h4">{{ 'Expenses' | translate }}</h4>

          <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">
            <span fxFlex="40%">{{ 'Interest on savings' | translate }}:</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.interestOnSavingsAccount.name }}</span>
            <span fxFlex="40%">{{ 'Write-off' | translate }}:</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.writeOffAccount.name }}</span>
          </div>

          <h4 fxFlexFill class="mat-h4">{{ 'Income' | translate }}</h4>

          <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">
            <span fxFlex="40%">{{ 'Income from fees' | translate }}:</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.incomeFromFeeAccount.name }}</span>
            <span fxFlex="40%">{{ 'Income from penalties' | translate }}:</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.incomeFromPenaltyAccount.name }}</span>
            <span fxFlex="40%">{{ 'Overdraft Interest Income' | translate }}:</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.incomeFromInterest.name }}</span>
          </div>

          <div
            *ngIf="savingProduct.paymentChannelToFundSourceMappings?.length || savingProduct.feeToIncomeAccountMappings?.length || savingProduct.penaltyToIncomeAccountMappings?.length"
            fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">

            <h3 class="mat-h3" fxFlexFill>{{ 'Advanced Accounting Rules' | translate }}</h3>

            <mat-divider [inset]="true"></mat-divider>

            <div *ngIf="savingProduct.paymentChannelToFundSourceMappings?.length" fxFlexFill fxLayout="row wrap"
              fxLayout.lt-md="column">

              <h4 class="mat-h4" fxFlexFill>{{ 'Fund Sources for Payment Channels' | translate }}</h4>

              <table fxFlexFill class="mat-elevation-z1" mat-table
                [dataSource]="savingProduct.paymentChannelToFundSourceMappings">

                <ng-container matColumnDef="paymentTypeId">
                  <th mat-header-cell *matHeaderCellDef> {{ 'Payment Type' | translate }} </th>
                  <td mat-cell *matCellDef="let paymentFundSource">
                    {{ paymentFundSource.paymentType.name }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="fundSourceAccountId">
                  <th mat-header-cell *matHeaderCellDef> {{ 'Fund Source' | translate }} </th>
                  <td mat-cell *matCellDef="let paymentFundSource">
                    {{ paymentFundSource.fundSourceAccount.name }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="paymentFundSourceDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: paymentFundSourceDisplayedColumns;"></tr>

              </table>

            </div>

            <div *ngIf="savingProduct.feeToIncomeAccountMappings?.length" fxFlexFill fxLayout="row wrap"
              fxLayout.lt-md="column">

              <h4 class="mat-h4" fxFlexFill>{{ 'Fees to Specific Income Accounts' | translate }}</h4>

              <table fxFlexFill class="mat-elevation-z1" mat-table
                [dataSource]="savingProduct.feeToIncomeAccountMappings">

                <ng-container matColumnDef="chargeId">
                  <th mat-header-cell *matHeaderCellDef> Fees </th>
                  <td mat-cell *matCellDef="let feesIncome">
                    {{ feesIncome.charge.name }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="incomeAccountId">
                  <th mat-header-cell *matHeaderCellDef> {{ 'Income Account' | translate }} </th>
                  <td mat-cell *matCellDef="let feesIncome">
                    {{ feesIncome.incomeAccount.name }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="feesPenaltyIncomeDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: feesPenaltyIncomeDisplayedColumns;"></tr>

              </table>

            </div>

            <div *ngIf="savingProduct.penaltyToIncomeAccountMappings?.length" fxFlexFill fxLayout="row wrap"
              fxLayout.lt-md="column">

              <h4 class="mat-h4" fxFlexFill>{{ 'Penalties to Specific Income Accounts' | translate }}</h4>

              <table fxFlexFill class="mat-elevation-z1" mat-table
                [dataSource]="savingProduct.penaltyToIncomeAccountMappings">

                <ng-container matColumnDef="chargeId">
                  <th mat-header-cell *matHeaderCellDef> {{ 'Penalty' | translate }} </th>
                  <td mat-cell *matCellDef="let penaltyIncome">
                    {{ penaltyIncome.charge.name }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="incomeAccountId">
                  <th mat-header-cell *matHeaderCellDef> {{ 'Income Account' | translate }} </th>
                  <td mat-cell *matCellDef="let penaltyIncome">
                    {{ penaltyIncome.incomeAccount.name }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="feesPenaltyIncomeDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: feesPenaltyIncomeDisplayedColumns;"></tr>

              </table>

            </div>

          </div>

        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>