<h1 mat-dialog-title>{{ 'Upload Client Documents' | translate }}</h1>
<div>
    <form [formGroup]="uploadDocumentForm" fxLayout="column">

        <mat-form-field fxFlex>
            <mat-label>{{ 'File Name' | translate }}</mat-label>
            <input formControlName="fileName" required matInput />
            <mat-error *ngIf="uploadDocumentForm.controls.fileName.hasError('required')">
                {{ 'File Name' | translate }} <strong>{{ 'is required' | translate }}</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex *ngIf="!documentIdentifier">
            <mat-label>{{ 'Description' | translate }}</mat-label>
            <input formControlName="description" matInput />
        </mat-form-field>

        <mifosx-file-upload flex="60%" (change)="onFileSelect($event)"></mifosx-file-upload>

        <mat-dialog-actions align="end">
            <button mat-raised-button mat-dialog-close>{{ 'Cancel' | translate }}</button>
            <button mat-raised-button color="primary" [disabled]="!uploadDocumentForm.valid"
                [mat-dialog-close]="uploadDocumentForm.value">{{ 'Confirm' | translate }}</button>
        </mat-dialog-actions>

    </form>
</div>